
.container{
    text-align: center;
}

.title{
    font-size: 60px;
    margin-top: 20px;
    color: deepskyblue;
    font-weight: bolder;
}

#js-question{
    color: aliceblue;
    background-color:deepskyblue;
    padding: 10px;
    font-size: large;
    font-weight:bold;
    width: 400px;
    display: inline-block;
    margin:30px;
    border-radius: 5px;
}

.ml-1{
    margin-left:10px;
}

.btn{
    color: aliceblue;
    background-color: deepskyblue;
    border-radius: 10px;
    border-color: deepskyblue;
}